**Loading the Required Libraries and Modules**

In [11]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.model_selection import TimeSeriesSplit

In [12]:
from google.colab import drive 
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

**Reading the Data and Performing Basic Data Checks**

In [13]:
df = pd.read_csv("/content/drive/MyDrive/energydata_complete.csv", parse_dates=["date"])
print(df.shape)
df.describe()

(19735, 29)

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19735 entries, 2016-01-11 17:00:00 to 2016-05-27 18:00:00
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   lights       19735 non-null  float64
 2   T1           19735 non-null  float64
 3   RH_1         19735 non-null  float64
 4   T2           19735 non-null  float64
 5   RH_2         19735 non-null  float64
 6   T3           19735 non-null  float64
 7   RH_3         19735 non-null  float64
 8   T4           19735 non-null  float64
 9   RH_4         19735 non-null  float64
 10  T5           19735 non-null  float64
 11  RH_5         19735 non-null  float64
 12  T6           19735 non-null  float64
 13  RH_6         19735 non-null  float64
 14  T7           19735 non-null  float64
 15  RH_7         19735 non-null  float64
 16  T8           19735 non-null  float64
 17  RH_8         19735 non-null  float64
 18  T9           19735 non-null  float64
 19  RH_9         19735 non-null  float64
 20  T_out        19735 non-null  float64
 21  Press_mm_hg  19735 non-null  float64
 22  RH_out       19735 non-null  float64
 23  Windspeed    19735 non-null  float64
 24  Visibility   19735 non-null  float64
 25  Tdewpoint    19735 non-null  float64
 26  rv1          19735 non-null  float64
 27  rv2          19735 non-null  float64
dtypes: float64(27), int64(1)
memory usage: 4.4 MB

In [14]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [16]:
df = df.set_index("date")

In [17]:
df.head()

                     Appliances  lights     T1  ...  Tdewpoint        rv1        rv2
date                                            ...
2016-01-11 17:00:00          60      30  19.89  ...        5.3  13.275433  13.275433
2016-01-11 17:10:00          60      30  19.89  ...        5.2  18.606195  18.606195
2016-01-11 17:20:00          50      30  19.89  ...        5.1  28.642668  28.642668
2016-01-11 17:30:00          50      40  19.89  ...        5.0  45.410389  45.410389
2016-01-11 17:40:00          60      40  19.89  ...        4.9  10.084097  10.084097

[5 rows x 28 columns]

**Creating Arrays for the Features and the Response Variable**

In [18]:
target_column = ['Appliances'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      0.054312  ...      0.499795      0.499795
std      102.524891      0.113371  ...      0.289953      0.289953
min       10.000000      0.000000  ...      0.000106      0.000106
25%       50.000000      0.000000  ...      0.249975      0.249975
50%       60.000000      0.000000  ...      0.497988      0.497988
75%      100.000000      0.000000  ...      0.751728      0.751728
max     1080.000000      1.000000  ...      1.000000      1.000000

[8 rows x 28 columns]

**Creating the Training and Test Datasets**

In [37]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
print(X_train.shape); print(X_test.shape)

(13814, 27)
(5921, 27)

**Build, Predict and Evaluate the Regression Model**

**Linear Regression**

In [20]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [21]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

LinearRegression(n_jobs=1, normalize=False)

In [34]:
pred_train_lr= lr.predict(X_train)
print("RMSE_train: ",np.sqrt(mean_squared_error(y_train,pred_train_lr)))
print("R2_train: ",r2_score(y_train, pred_train_lr))

pred_test_lr= lr.predict(X_test)
print("RMSE_test: ",np.sqrt(mean_squared_error(y_test,pred_test_lr))) 
print("R2_test: ",r2_score(y_test, pred_test_lr))
importance = lr.coef_
print(importance)

RMSE_train:  93.70606242285344
R2_train:  0.1695005666728967
RMSE_test:  93.79279580239442
R2_test:  0.15133743343176564
[[ 203.41721079 -369.50931455   -1.01132354   27.28281201  141.10898875
   271.84545237 -798.63276608  -11.18891074  -44.57632681  -39.67388784
   -70.06586452  179.70293942   -1.01132354  -93.95869483    2.60383454
    12.79567574 -569.06412705  755.100433    279.57091885   59.41594884
   951.43945327   21.49880352  -49.55570638   12.80095115 -284.42011928
  -248.223047      1.00586652]]

In [39]:
from sklearn.metrics import mean_absolute_error
MSE = mean_absolute_error(y_train, pred_train_lr)
print(MSE)

68.13042617143768

**Regularized Regression**

**Ridge Regression**

In [27]:
rr = Ridge(alpha=0.01)
rr.fit(X_train, y_train) 
pred_train_rr= rr.predict(X_train)
print("RMSE_train: ", np.sqrt(mean_squared_error(y_train,pred_train_rr)))
print("R2_train: ",r2_score(y_train, pred_train_rr))

pred_test_rr= rr.predict(X_test)
print("RMSE_test: ",np.sqrt(mean_squared_error(y_test,pred_test_rr))) 
print("R2_test: ",r2_score(y_test, pred_test_rr))

RMSE_train:  93.70612056887904
R2_train:  0.16949953599771828
RMSE_test:  93.79078234977312
R2_test:  0.1513738695676935

In [32]:
rr = Ridge(alpha=0.4)
rr.fit(X_train, y_train) 
pred_train_rr= rr.predict(X_train)
print("RMSE_train: ", np.sqrt(mean_squared_error(y_train,pred_train_rr)))
print("R2_train: ",r2_score(y_train, pred_train_rr))

pred_test_rr= rr.predict(X_test)
print("RMSE_test: ",np.sqrt(mean_squared_error(y_test,pred_test_rr))) 
print("R2_test: ",r2_score(y_test, pred_test_rr))

RMSE_train:  93.7628278006487
R2_train:  0.1684940598956075
RMSE_test:  93.78447973951235
R2_test:  0.15148791872935596

**Lasso Regression**

In [28]:
model_lasso = Lasso(alpha=0.01)
model_lasso.fit(X_train, y_train) 
pred_train_lasso= model_lasso.predict(X_train)
print("RMSE_train: ",np.sqrt(mean_squared_error(y_train,pred_train_lasso)))
print("R2_train: ",r2_score(y_train, pred_train_lasso))

pred_test_lasso= model_lasso.predict(X_test)
print("RMSE_test: ",np.sqrt(mean_squared_error(y_test,pred_test_lasso))) 
print("R2_test: ",r2_score(y_test, pred_test_lasso))

RMSE_train:  93.74586228566724
R2_train:  0.168794939264459
RMSE_test:  93.7705388406747
R2_test:  0.1517401596532002

**ElasticNet Regression**

In [29]:
#Elastic Net
model_enet = ElasticNet(alpha = 0.01)
model_enet.fit(X_train, y_train) 
pred_train_enet= model_enet.predict(X_train)
print("RMSE_train: ",np.sqrt(mean_squared_error(y_train,pred_train_enet)))
print("R2_train: ",r2_score(y_train, pred_train_enet))

pred_test_enet= model_enet.predict(X_test)
print("RMSE_test: ",np.sqrt(mean_squared_error(y_test,pred_test_enet)))
print("R2_test: ",r2_score(y_test, pred_test_enet))

RMSE_train:  97.69042679636749
R2_train:  0.09737371463329803
RMSE_test:  97.50510535218429
R2_test:  0.08282798502472066